.navbar{font-family: Times New Roman;
	font-size: x-large;
margin: 10px;
text-align: center;
overflow: hidden;
width:;}
header { text-align: center;
background-color: black;
color:white;
width:100%;
height:50px;
font-size: x-large;
margin: 10px;
padding: 15px;
font-family: Times New Roman;
}

#main{
    width:100%;
    height:100vh;
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    backface-visibility:hidden ;
    animation:slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('1stimage.jpg');
}
@keyframes{
    0% {
        background-image:url('1stimage.jpg');
    }
    25% {
        background-image:url('image2.jpg');
    }
    50% {
        background-image:url('image3.jpg');
    }
    75% {
        background-image:url('image4.jpg');
     }
    100%{
        background-image:url('image5.jpg');
    }

}
.navbar a{
	font-size: large;
	color: black;
	padding:14px 16px;
	display: inline-block;
  margin:25px;
}
.dropdown{float: left;
overflow: hidden;}
.dropdown .dropbtn{
	font-size: large;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  float: none;
 position: absolute;
 display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;}
  
@media only screen and (max-width:600px)
{
  .navbar {
  width:20%;
  z-index: 1;
  float:left;
  top: 100px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}
#main{
    width:100%;
    height:100vh;
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    backface-visibility:hidden ;
    animation:slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('1stimage.jpg');
}
@keyframes{
    0% {
        background-image:url('1stimage.jpg');
    }
    25% {
        background-image:url('image2.jpg');
    }
    50% {
        background-image:url('image3.jpg');
    }
    75% {
        background-image:url('image4.jpg');
     }
    100%{
        background-image:url('image5.jpg');
    }
.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.navbar a:hover {
  color: #064579;
}

.s {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.s{
  font-size: x-small;
}
